
 /* $MVD$:color("18","80ffff","MosaicLightYellow","1") */
 /* $MVD$:fontset("Normal","Verdana, Geneva, sans-serif, "MS Sans Serif", Geneva, sans-serif") */
 /* $MVD$:fontset("Heading","PTSansRegular,Arial,Helvetica,sans-serif") */
 /* $MVD$:fontset("Monospace","Courier New") */
 /* $MVD$:fontset("Arial","Arial") */

CITE.expandspot 
{ 
		font-style : normal;
            color : #e37920;
            cursor: hand;
}
.mvd-CITE-expandspot 
{ 
		font-style : normal;
            color : #e37920;
            cursor: hand;
}
DFN.collapsed 
{ 
		font-style : italic;
            font-weight : normal;
            display : 'none';
            color : red;
}
.mvd-DFN-collapsed 
{ 
		font-style : italic;
            font-weight : normal;
            display :'none';
		color : red;
}
DFN.expanded 
{ 
	font-style : italic;
      font-weight : normal;
      color : red;
}
.mvd-DFN-expanded 
{ 
	font-style : italic;
      font-weight : normal;
      color : red;
}
EM.dropspot 
{ 
	color : #e37920;
      cursor: hand;
}
.mvd-EM-dropspot 
{ 
	color : #e37920;
      cursor: hand;
}

 P 
{ 
	font-family : "Verdana", "Arial";
     	font-size : 9.0pt;
     	list-style-type : square;
     	color : black;
	text-align:justify;
}
.mvd-P 
{ 
	font-family : "Verdana", "Arial";
      font-size : 9.0pt;
      list-style-type : square;
      color : black;
}
.mvd-H1 
{ 
	font-family : "Arial Black";
      font-weight : normal;
      font-size : 14.0pt;
      color : #e37920;
}
PRE 
{ 
	font-family : "Courier New";
      font-size : 9.0pt;
      color : black;
}
.mvd-PRE 
{ 
	font-family : "Courier New";
      font-size : 9.0pt;
      color : black;
}
H2 
{ 
	font-family : "Arial";
      font-weight : bold;
      font-size : 12.0pt;
      list-style-type : square;
      color : #737373;
}
.mvd-H2 
{ 
	font-family : "Arial";
      font-weight : bold;
      font-size : 12.0pt;
      list-style-type : square;
      color : navy;
}
.mvd-H3 
{ 
	font-family : "Arial";
      font-weight : bold;
      font-size : 12.0pt;
      list-style-type : square;
      color : teal;
}

.mvd-H4 
{
 	font-family : "Arial";
      font-weight : bold;
      font-size : 12.0pt;
      list-style-type : square;
      color : purple;
}
.mvd-H5 
{ 
	font-family : "Arial";
      font-weight : bold;
      font-size : 12.0pt;
      list-style-type : square;
      color : black;
}

.mvd-H6 
{ 
	font-family : "Verdana", "Arial";
      font-weight : bold;
      font-size : 10.0pt;
      list-style-type : square;
      color : black;
}
.mvd-P-Highlight 
{ 
	background-color : #FFFF80;
      list-style-type : square;
      color : navy;
}
.footer
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000
}	/* black */

BODY 
{ 
	font-family : "Verdana", "Arial";
      font-size : 9.0pt;
      background-color : white;
      list-style-type : square;
      color : black;
}
.mvd-BODY 
{ 
	font-family : "Verdana", "Arial";
      font-size : 9.0pt;
      background-color : white;
      list-style-type : square;
      color : black;
}
CITE.glossterm 
{ 
	font-style : normal;
	color : maroon;
	cursor : hand;
}
.mvd-CITE-glossterm 
{ 
	font-style : normal;
	color : maroon;
	cursor : hand;
}
DFN.glosscollapsed 
{ 
	font-style : italic;
	font-weight : normal;
	display : 'none';
	color : blue;
}
.mvd-DFN-glosscollapsed 
{ 	font-style : italic;
	font-weight : normal;
	display : 'none';
	color : blue;
}
DFN.glossexpanded 
{ 	
	font-style : italic;
	font-weight : normal;
	color : blue;
}
.mvd-DFN-glossexpanded 
{ 
	font-style : italic;
	font-weight : normal;
	color : blue;
}
LI.P 
{
	font-family: Verdana, Arial;
	font-size: 9.0pt;
	color: #000000;
}
H1 
{
	font-family: "Arial Black";
	font-weight: normal;
	font-size: 14.0pt;
	color: #e37920;
	border-bottom: solid #e37920 1.0pt;
}
LI.H1 
{
	font-family: "Arial Black";
	font-weight: normal;
	font-size: 14.0pt;
	color: #242993;
}
LI.H2 
{
	font-family: Arial;
	font-weight: bold;
	font-size: 12.0pt;
	color: #242993;
}
H3 
{
	font-family: Arial;
	font-weight: bold;
	font-size: 12.0pt;
	color: #c73c27;
    list-style-type : square;
}
LI.H3 
{
	font-family: Arial;
	font-weight: bold;
	font-size: 12.0pt;
	color: #008080;
}
H4 
{
	font-family: Arial;
	font-weight: bold;
	font-size: 12.0pt;
	list-style-type : square;
	color: #4553c7;
}
LI.H4 {
	font-family: Arial;
	font-weight: bold;
	font-size: 12.0pt;
	color: #4553c7;
}
H5 
{
	font-family: Arial;
	font-weight: bold;
	font-size: 12.0pt;	
    list-style-type : square;
	color: #000000;
}
LI.H5 
{
	font-family: Arial;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
}
H6 
{
	font-family: Verdana, Arial;
	font-weight: bold;
	font-size: 10.0pt;
	list-style-type : square;
	color: #000000;
}
LI.H6 
{
	font-family: Verdana, Arial;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
}
P.Highlight 
{
	background-color: #FFFF80;	
    list-style-type : square;
	color: #242993;
}
LI.P-Highlight 
{
	color: #242993;
}
A:active 
{
	color: #ff0000;text-decoration: underline;
}
A:visited 
{
	color: #800080;text-decoration: underline;
}
A:link 
{
	color: #0000ff;text-decoration: underline;
}

A.expandspot 
{
	cursor: hand;
	color: #008000;
	font-style: normal;
}
SPAN.expandtext 
{
	color: #ff0000;
	font-weight: normal;
	font-style: italic;
}
A.dropspot 
{
	font-style: italic;
	cursor: hand;
	color: #008000;
}
P.Preformatted 
{
	line-height: normal;
	margin-bottom: 14pt;
	margin-top: 14pt;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	color: #000000;
	font-size: 9.0pt;
	font-family: "Courier New";
}
LI.P-Preformatted 
{
	line-height: normal;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	color: #000000;
	font-size: 9.0pt;
	font-family: "Courier New";
}
A.glossterm 
{
	cursor: hand;
	color: #800000;
	font-style: normal;
}
SPAN.glosstext 
{
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}
.Bullets 
{
	list-style-type: disc;
}

TABLE
{
	border-collapse: collapse;
	font-family:Verdana, Arial;
	border-width: 1px;
	padding: 1px;
	text-align:top;
	vertical-align:top;
	
}
TH{
      font-family: Verdana, Arial;
      font-size: 9.0pt;
      font-weight: bold;
      color: #ffffff;
      background-color: #e37920;
}
TD
{
   	font-family: Verdana, Arial;
      font-size: 9.0pt;
      color: #000000;
	text-align:top;
	vertical-align:top;

}

P.justified 
{
	text-align:justify;
}


#main
{
	border-collapse:collapse;
}

#main td, #main th 
{
	font-size:9.0pt;
	border:2px ridge;
	padding:2pt;
}
#main th 
{
	font-size:9.0pt;
	text-align:left;
	background-color: #C0C0C0; 
	color:#000000;
}
#main tr.alt td 
{
	color:#000000;
}

#boldText
{
    font-weight:bold;
}

#blueHeading
{
	color:#004D91;
	font-size:14.0pt;
	font-family:Verdana, Arial;
}

#redText
{
	color:#c73c27;
}

#highlight
{
	background-color: #FFFF00;	
}
